//! Header left right padding




header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 20;
}

.drop-shadow-header {
    -webkit-box-shadow: 0px 16px 15px -7px rgba(0,0,0,0.49); 
    box-shadow: 0px 16px 15px -7px rgba(0,0,0,0.49);
}

.bottom-border{
      border-bottom: 1px solid white;
      z-index: 1;
      -webkit-box-shadow: 0px 0px 18px 5px #928D8D; 
    box-shadow: 0px 0px 18px 5px #928D8D;
}
.header-area {


   

    .main-header {


        .logo{
            img{
            width: 100%;
            }
        }

    

        .Title-Logo{
            display: inline-block;

            // If include Image
            //position: absolute;
            //top: 25px;
            //left: 105px;

            h3{
              font-weight: 100;  
              font-size: 1.60vw;
              color: black;
              font-family: "Quicksand", sans-serif;
             
            }
            
            @media #{$xs}{
                h3{
                    font-size: 18px;
                }

            }


        }

        
        background-color: none;

        opacity: 95%;
                padding: 0px 100px;
        @media #{$laptop}{
            padding: 0px 30px;
        }
        @media #{$lg}{
            padding: 0px 15px;
        }
        // mobile menu show
        @media #{$md}{
            padding: 10px 5px;
         }
        @media #{$sm}{
            padding: 10px 5px;
         }
        @media #{$xs}{
            padding: 10px 5px;
         }

        //!  Menu
         .main-menu{
            @media #{$laptop}{
               margin-right: 30px;
            }
             ul{
                 li{
                    display: inline-block;
                    position: relative;
                    z-index: 1;

                    
                    span{
                        font-family: $font_7;
                        color: #091a23;
                        font-weight: 400;
                        padding: 39px 24px;
                        display: block;
                        font-size: 18px;
                        @include transition(.3s);
                        text-transform: capitalize;
                        position: relative;

                    }

                     a{
                        font-family: $font_7;
                        color: #091a23;
                        font-weight: 400;
                        padding: 39px 24px;
                        display: block;
                        font-size: 18px;
                        @include transition(.3s);
                        text-transform: capitalize;
                        position: relative;

                        @media #{$lg}{
                            padding: 39px 15px;
                            margin: 0 5px;
                        }
                        @media #{$laptop}{
                            margin: 0 10px;
                        }
                    }
                    &:hover{
                        & > a{
                            color:$theme-color;
                        }
                    }
                }
                 ul.submenu{
                    position: absolute;
                    width: 170px;
                    background: none;
                    left: 0;
                    top: 80%;
                    visibility: hidden;
                    opacity: 0;
                    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                    padding: 17px 0;
                    // border-top: 5px solid $theme-color;
                    @include transition(.3s);
                    & > li{
                        margin-left: 7px;
                        display: block;
                        & > a{
                            padding: 6px 10px !important;
                            font-size: 16px;
                            text-transform: capitalize;
                            margin: 0;
                            &:hover{
                                color:$theme-color;
                                background: none;
                            }

                            @media #{$mid_device}{
                                font-size: 14px;
                                padding: 3px 5px !important;

                            }

                            @media #{$laptop}{
                                font-size: 14px;
                                padding: 3px 5px !important;

                            }

                        }
                    } 
                }
            }
        }
    }
}

    .no-background {
            //background: none !important;
            position: absolute;
            background-color:transparent;
            opacity: 99%;
        }   





.bars{

    
    i {
        font-size: 1.5vw;
        color: white;
        border: 1px solid white;
        padding: 10px 30px 10px 30px;
        cursor: pointer;
    }
}












.header-area2 {

    padding-top: 2vh;
    padding-bottom: 2vh;

    background-color: white;
    box-shadow: #091a23;


    z-index: 1;


    .box-flex {
        display: flex;
        flex-wrap: wrap;
      }
    .box-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
      }

    

    .main-header {


        .logo{
            img {

            width: 100%;
            }

        }

        img{
            //width: 15vw;
            //padding-left: 2vw;
        }

        .rect-contact{
            border: 1px solid $blue_light;

            i{
                color: $blue_light;
            }
        }

        .rect-contact:after {
                content:"";
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: (7/12)*100%;
                border-left: 1px solid $blue_light;
                transform: translate(-50%);
            }

        .Title-Logo{
            display: inline-block;

            // If include Image
            //position: absolute;
            //top: 25px;
            //left: 105px;

            h3{
              font-weight: 100;  
              font-size: 1.60vw;
              color: black;
              font-family: "Quicksand", sans-serif;
             
            }

            @media #{$xs}{
                h3{
                    font-size: 18px;
                }



            }

        }

        
        background-color: transparent;

       

        //!  Menu
         .main-menu{
            
                   span{
                        font-family: $font_4;
                        color: #000;
                        font-weight: 300;
                        //padding: 39px 24px;
                        display: block;
                        font-size:calc(12px + 0.8vw);
                        @include transition(.3s);
                        text-transform: capitalize;
                        position: relative;
                        
                        font-size: min;
            

                    }


                    .find-out-dark{

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $blue_light !important;
                        width: 100%;
                        height: 4vh;
                        //line-height: 50px;
                        
                        border: $blue_dark 0px solid ;
                        
                        padding: 0 0 0 0;
                       
                        //margin: auto;
                        color: rgb(255, 255, 255);
                        position: relative;
                        font-family: $font_8;
                        cursor: pointer;
                        overflow: hidden;
                        border-radius: 5px;
                        -webkit-box-shadow:inset 0px 0px 0px 1px rgb(255, 255, 255);
                        -moz-box-shadow:inset 0px 0px 0px 1px rgb(255, 255, 255);
                        box-shadow:inset 0px 0px 0px 1px $blue_dark !important;

                        
                    
                        
            
                        @media #{$tab}{
                            width: calc(30px + 50vw);
                            height: calc(12px + 3vh);
            
                            color: $black_normal;
                            background-color: rgb(57, 119, 190);
            
                         }
                    
                        //screen size
                    
                    
                        span{
                        
                            font-size: 12px;
                            color: white;
                        }
                    
                    
                    
                  
                    
                 
            
                    
                    }
                    
                   
                    
                    
                    
                    
            

                     a{
                        font-family: $font_4;
                        color: #000;
                        font-weight: 600;
                        //padding: 39px 24px;
                        display: block;
                        font-size:calc(10px + 0.2vw);
                        @include transition(.3s);
                        text-transform: uppercase;
                        position: relative;

                      
                    }

              

                 


                    &:hover{
                        & > a{
                            color:$theme-color;
                        }
                    }
                
                 ul.submenu{
                    position: absolute;
                    width: 170px;
                    background: #fff;
                    left: 0;
                    top: 50%;
                    visibility: hidden;
                    opacity: 0;
                    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                    padding: 14px 0;
                    // border-top: 5px solid $theme-color;
                    @include transition(.3s);
                    & > li{
                        margin-left: 7px;
                        display: block;
                        & > a{

                            

                            padding: 6px 10px !important;
                            font-size: 16px;
                            text-transform: capitalize;
                            margin: 0;


                            @media #{$mid_device}{
                                font-size: 14px;
                                padding: 3px 5px !important;

                            }

                            @media #{$laptop}{
                                font-size: 14px;
                                padding: 3px 5px !important;

                            }

                            

                            &:hover{
                                color:$theme-color;
                                background: none;
                            }
                        }
                    } 
                }
            
        }
    }
}


//! SubMenu Hover
.header-area .main-menu ul ul.submenu > li > a:hover {
        padding-left: 13px !important;
}
.header-area .main-menu ul > li:hover > ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 70%;
}




//! SubMenu Hover
.header-area2 .main-menu ul ul.submenu > li > a:hover {
    padding-left: 13px !important;
}
.header-area2 .main-menu ul > li:hover > ul.submenu {
visibility: visible;
opacity: 1;
top: 70%;
}


//! Transparent Header
.header-transparent {
	position: absolute;
	top: 0px;
	right: 0;
	left: 0;
    z-index: 9;
    opacity: 100%;
    background-color: none;
}

.header-transparent-main {
	position: absolute;
	top: 0px;
	right: 0;
	left: 0;
    z-index: 9;

    @media #{$xs}{

    top: 0px;
    }


}



//! header Sticky  & Responsive
    .header-sticky{
        &.sticky-bar{
            // background: rgb(0, 0, 0);
            &.sticky {
                .main-menu{
                    ul {
                        li{
                            a {
                                padding: 20px 20px !important;
                            }
                        }
                    }
                }
                // Small device sticky show padding
                @media #{$md}{
                    padding: 15px 0px;
                }
                @media #{$sm}{
                    padding: 15px 0px;
                }
                @media #{$xs}{
                    padding: 15px 0px;
                } 
            }
        }
    }


// Full Screen Overlay 

#myNav{
    width: 0%;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 25; /* Sit on top */
  left: 0px;
  top: 0;
  
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  
    
    h1{
        color: white;
        font-weight: $font_2;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 4vw;
    }
    a,p{
        color: white !important;
        font-family: $font_1;
        font-size: calc(10px + 0.5vw);
        display: block;
        text-align: left !important;
        padding-left: 0.5vw;

    }

    .overlay-row{
        padding-top: 3vh;
        padding-left: 3vw;
    }

    .closebtn {
  font-size: calc(60px + 5vw);
  margin-right: 1vw;
  //position: fixed;
  //left: 92vw;
  //top: -25vh;

        @media #{$tab}{
            margin-right: 2vw;
        }
        @media #{$sm}{
            margin-right: 2vw;
        }


  
}

 a:hover, .overlay a:focus {
  color: #f1f1f1;
}



  }

    .overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  .overlay-container{
      background-color: rgba($blue_light,0.9);
      height: 100%;
  }


  .mobile-header{

    display: none !important;
    padding-top: 2vh;
    padding-bottom: 2vh;

    .logo{
        img{
         width: 80%;
         //height: 10vh;
        }
    }

    

}












/* Menu Icon */
.icon-container {
	position: relative;
	display: inline-block;
	z-index: 2;
	float: right;
	/* Simply change property to float left to switch icon side :) */
	height: 55px;
	width: 55px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.icon-container #menuicon {
	width: 20px;
	height: 10px;
	position: relative;
	display: block;
	margin: -4px auto 0;
	top: 50%;
}
#menuicon .bar {
	width: 100%;
	height: 1px;
	display: block;
	position: relative;
	background: #fff;
	transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
#menuicon .bar.bar1 {
	-webkit-transform: translateY(0px) rotate(0deg);
	transform: translateY(0px) rotate(0deg);
}
#menuicon .bar.bar2 {
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.menu-open .icon-container {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.menu-open .icon-container #menuicon .bar {
	transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	transition-delay: 0.1s;
}
.menu-open .icon-container #menuicon .bar.bar1 {
	-webkit-transform: translateY(4px) rotate(45deg);
	transform: translateY(4px) rotate(45deg);
}
.menu-open .icon-container #menuicon .bar.bar2 {
	-webkit-transform: translateY(3px) rotate(-45deg);
	transform: translateY(3px) rotate(-45deg);
}


.main-header { }     
            .header-navigation-area {
                width: 100%;
            }        
            .main-navigation .menu a.active, .main-navigation .menu a:hover {}
            .main-navigation ul li {display: inline-block; position: relative; }
            .main-navigation ul li a {padding: 25px 10px; display: block; text-transform: capitalize; color: #414040; font-size: 16px; font-weight: 500; position: relative; z-index: 1; line-height: 1; }
            .main-navigation ul ul li a{color: #ffffff; }
            /* Main Menu CSS End*/
            /* Submenu / Dropdown Menu CSS */
            .main-navigation ul li ul {position: absolute; width: 250px; left: 0; top: 65px; z-index: 2; -webkit-transition: .3s; transition: .3s; visibility: hidden; opacity: 0; background-color: #1e1916; margin: 0; padding: 0; list-style: none; }
            .main-navigation ul li:hover > ul {opacity: 1; visibility: visible; }
            .main-navigation ul li ul li a {padding: 14px 20px; line-height: 26px; }
            .main-navigation ul li ul li {display: block; text-align: left; }
            .main-navigation ul li ul ul {left: 250px; top: 0; }
            .main-navigation ul li ul li {border-bottom: 1px solid #e5e5e52b; }
            .main-navigation ul li ul li:last-child {border-bottom: 0; }
            /* Submenu / Dropdown Menu CSS End */
            /* Mobile Menu CSS Start*/
            .mobile-menu-trigger {
                cursor: pointer; 
                width: 80%;
                height: 5vh;
                display: none; 
                background: $theme-color; 
                border: none; }

            .mobile-menu-trigger span {height: 2px; 
                display: block; 
                width: 35px; margin-bottom: 9px; 
                background-color: #fff;
            margin-left: auto;
        margin-right: auto;}

            .mobile-menu-trigger span:last-child {margin-bottom: 0; }
            .mobile-menu-container {position: fixed; top: 0; bottom: 0; left: 0; width: 100%; background-color: #231d1b; z-index: 999999; opacity: 0; visibility: hidden; overflow-y: scroll; -ms-transform: translateX(100%); -webkit-transform: translateX(100%); transform: translateX(100%); overflow-x: hidden; -webkit-transition: .4s; transition: .4s; }
            .mobile-menu-container li {opacity: 0; visibility: hidden; -ms-transform: translateX(1000px); -webkit-transform: translateX(1000px); transform: translateX(100px); -webkit-transition: 1s; transition: 1s; }
            .mobile-menu-container li:nth-last-child(1) { }
            .mobile-menu-container li > a .slicknav_arrow:after {content: "\f067"; position: absolute; font-family: 'FontAwesome'; top: 0; bottom: 0; color: rgb(0, 0, 0); z-index: 999; margin: 0 auto; text-align: center; right: 0; left: 0; font-size: 16px; line-height: 50px; }
            .mobile-menu-container.menu-open li.slicknav_open > a .slicknav_arrow:after{content: "\f068";}
            .mobile-menu-container.menu-open {opacity: 1; visibility: visible; -ms-transform: translateX(0%); -webkit-transform: translateX(0%); transform: translateX(0%); } 
            .mobile-menu-container.menu-open li {opacity: 1; visibility: visible; -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); }
            .mobile-menu-close {position: absolute; right: 20px; top: 50px; width: 30px; height: 30px; cursor: pointer; z-index: 1; }
            .mobile-menu-close::before {left: 15px; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
            .mobile-menu-close::after {right: 13px; -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
            .mobile-menu-close::before, .mobile-menu-close::after {position: absolute; height: 30px; width: 2px; background: #ffffff; content: ''; top: 0; }
            #mobile-menu-wrap {display: block; height: 100%; width: 100%; position: absolute; right: 0; padding: 150px 20px 20px 20px; }
            #mobile-menu-wrap div {background-color: transparent; }
            #mobile-menu-wrap .slicknav_item i{display: none;}
            /*Sidebar Start*/
            .slicknav_nav, .slicknav_nav.slicknav_hidden {display: block !important; text-align: left; }
            .slicknav_btn {display: none !important; }
            .slicknav_menu {padding-left: 0; }
            .slicknav_nav li > a {display: block; font-weight: 400; } 
            .slicknav_item.slicknav_row a {border-bottom: 0; }
            .slicknav_nav .slicknav_row, .slicknav_nav a {padding: 10px 0px; margin: 0; }
            .slicknav_nav .slicknav_arrow {font-size: 0; height: 100%; width: 50px; display: inline-block; position: absolute; top: 0; }
            .slicknav_nav ul {margin: 0 0 0 0px; }
            .slicknav_nav .menu-item-has-children ul {margin-bottom: 00px; }
            .slicknav_nav .menu-item-has-children ul li {padding-left: 25px; }
            .sub-menu .menu-item-has-children a i {position: absolute; right: 20px; top: 20px; }
            .slicknav_nav a:hover, .slicknav_nav .slicknav_row:hover {background-color: transparent; }
            .slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover {border-radius: 0; }
            .slicknav_item.slicknav_row {display: inline-block; width: 100%; position: relative; }
            .slicknav_arrow {-webkit-transition: .3s; transition: .3s; right: 0; top: 17px; position: absolute; }
            .slicknav_nav a, .slicknav_row a {color: #000000; font-size: 18px; display: inline-block; }
            /*Sidebar Start*/            
            /* Mobile Menu CSS End*/

            @media only screen and #{$tab}{
                /*Menu*/
                .header-navigation-area {display: none; }
                .mobile-menu-trigger {display: block; }
            } 

      
@media #{$tab} {


    .full-screen-header{

        display: none !important;

    }

    .header {
        display: block;
        
    }
    .mobile-header{
        display: flex !important;
    }
    
}
      






